@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@300&display=swap');

body{
    margin: 1%;
    padding: 1%;
    font-family: 'Big Shoulders Stencil Text', cursive;
    height: 100px;
}
.banner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

